@model IEnumerable<MVCApp.Models.GameModel>
@{
    ViewBag.Title = "Games";
}

<h1>Games</h1>

@{ 
    <h3>Game</h3>

    if (Model == null)
    {
        <p>There are currently no games.</p>
    }
    else
    {
        foreach (var game in Model)
        {
            <p>@Html.ActionLink($"{game.Title}", "Details", "Game", new { id = game.Id }, null)</p>
            //<p>@game.Title</p>
        }
    }
}

