@model MVCApp.Models.CustomerModel
@{
    ViewBag.Title = "Customer Info";
}

<h2>Details</h2>

<h3>@Model.FirstName @Model.LastName</h3>

<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>
    @if(Model.Birthdate.HasValue)
    {
        <li>Birthday: @Model.Birthdate.Value.ToShortDateString()</li>
    }
</ul>

