@model IEnumerable<MVCApp.Models.CustomerModel>
@{
    ViewBag.Title = "Customers";
}

<h1>Customers</h1>

@{
    <h3>Customer</h3>

    if (Model == null)
    {
        <p>No customers.</p>
    }
    else
    {
        foreach(var customer in Model)
        {
            <p>
                @Html.ActionLink($"{customer.FirstName} {customer.LastName}",
                             "Details", "Customer",
                             new { id = customer.Id }, null)
            </p>
        }
}
}

